<ion-view >
  <ion-content ng-controller="eventController" data-ng-init="map();" >
    <div data-tap-disabled="true">
  	   <div id="map"></div>
    </div>

    <div class="create" class="padding">
      <ionic-datepicker idate="currentDate" disablepreviousdates="true"  disablefuturedates="false" callback="datePickerCallback" title="title">
          <button class=" button-block btn btn-raised btn-primary"> {{ currentDate | date:'dd - MMMM - yyyy' }} </button>
      </ionic-datepicker>
        <div class="col-sm-4">
          <div class="form-group">
              <input type="text" placeholder="Titre" class="form-control" ng-model="titre" id="titre"/>
          </div>
        </div>
        <label class="item item-input item-select">
          <div class="input-label">
            Activité
          </div>
          <select id="activity">
            <option selected>Cyclisme</option>
            <option>Football</option>
          </select>
        </label>
        <div class="col-xs-6">
          <div class="input-group">
        		<span class="input-group-addon">
              <p>
                <i class="icon ion-ios-location"></i>
              </p>
        		</span>
            <input type="text" placeholder='depart' ng-model="depart" class="form-control"id="pointA"></input>
        	</div>
        </div>
        <div class="col-xs-6">
          <div class="input-group">
        		<span class="input-group-addon">
              <p>
                <i class="icon ion-ios-location"></i>
              </p>
            </span>
            <input type="text" placeholder='arrivée' ng-model="arrivee" class="form-control"id="pointB"></input>
        	</div>
        </div>

        <input id="submit" class="btn btn-lg btn-primary btn-block geocode" type="button" value="Visualiser" ng-click="setRoute()">


        <input class="button button-block btn btn-raised btn-primary" type="button" name="name" value="Envoyer" ng-click="Event(param); modals.hide(); reloadRoute()">

        <div  ng-repeat="event in events | orderBy: '-date' | limitTo: 35"   >
          <div class="card cards">
            <div class="item item-divider">
              <strong>{{event.title}} </strong>
              <i class="fa fa-trash" aria-hidden="true" ng-click="deleteEvent(event);" ng-show="$storage.currentUser != &apos;&apos;"></i>
            </div>
            <div class="item item-text-wrap">
              <p><strong>Le </strong> {{event.date | date: 'dd' }} {{event.date | date:  'MMMM' }}  {{ event.date | date: 'yyyy' }} </p>
              <p><strong>Lieu : </strong></strong>{{event.lieu}}</p>
            </div>
          </div>
        </div>
    </div>

  </ion-content>
</ion-view>
