<ion-view view-title="event">
    <ion-content ng-controller="mapCtrl" ng-init="loadEvent();">

        <div  class="padding">
          holla
          <h2 class="event-title">{{pageEvent[0].title}}</h2>
          <p>
            {{pageEvent[0].activity}}
          </p>

          <p>
            {{pageEvent[0].lieu}}
          </p>
          <p>
            {{pageEvent[0].date | date: 'd'}}
            {{pageEvent[0].date | date: 'MMMM'}}
            {{pageEvent[0].date | date: 'yyyy'}}
          </p>
          <p>
            <span><b>Description : </b></span><br>
            {{pageEvent[0].description}}
          </p>
          <button class="btn btn-raised btn-primary">Participer</button>

          <p class="center">
            <span><b >Participants</b></span>
          </p>
          <table class="table">
            <thead>
                <tr>
                    <th class="text-center">#</th>
                    <th>Pseudo</th>
                    <th>Statut</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="text-center">1</td>
                    <td>Sch Mathafack</td>
                    <td>Ami</td>
                </tr>
                <tr>
                    <td class="text-center">2</td>
                    <td>Théo </td>
                    <td>Ami</td>
                </tr>
                <tr>
                    <td class="text-center">3</td>
                    <td>Thom's du 92</td>
                    <td>Ami</td>
                </tr>
                <tr>
                    <td class="text-center">4</td>
                    <td>Jean</td>
                    <td>Anonyme</td>
                </tr>
                <tr>
                    <td class="text-center">5</td>
                    <td>Naïm</td>
                    <td>Ami</td>
                </tr>

            </tbody>
        </table>
        </div>

    </ion-content>
</ion-view>
