<ion-view >
    <ion-nav-buttons side="right" >
      <div class="" ng-controller="eventController">
        <button  class="button button-icon reloadEvent" ng-click="reloadRoute();"><img src="img/reload.png" alt="" /></button>
      </div>
    </ion-nav-buttons>
  <ion-content ng-controller="eventController" data-ng-init="mapEvent();"  >
    <div data-tap-disabled="true">
  	   <div id="mapEvent"></div>
    </div>

    <button type="hidden" name="button" ng-click="reloadRoute();"></button>
    <form class="" name="event-form">
      <div  class="create" class="padding" ng-init="Football = 0">
        <ionic-datepicker idate="currentDate" disablepreviousdates="true"  disablefuturedates="false" callback="datePickerCallback" title="title">
            <button class=" button-block btn btn-raised btn-primary"> {{ currentDate | date:'dd - MMMM - yyyy' }} </button>
        </ionic-datepicker>
          <div class="col-sm-4">
            <div class="form-group" ng-class="{true: 'error'}[submitted && form.email.$invalid]">
                <input type="text" placeholder="Titre" class="form-control" ng-model="titre" id="titre"
                    ng-minlength="3"
                    ng-maxlength="8"
                    required/>
                <span class="help-inline" ng-show="submitted && form.email.$error.required">Required</span>
                <span class="help-inline" ng-show="submitted && form.email.$error.email">Invalid email</span>
            </div>
          </div>
          <label class="item item-input item-select">
            <div class="input-label">
              Activité
            </div>
            <select  ng-model="activity" id="activity" required>
              <option selected>Cyclisme</option>
              <option value="football">Football</option>
            </select>
          </label>
          <div class="col-xs-6" ng-hide="activity == 'football'">
            <div class="input-group form-group">
          		<span class="input-group-addon">
                <p>
                  <i class="icon ion-ios-location"></i>
                </p>
          		</span>
              <input type="text" placeholder='depart' ng-model="depart" class="form-control" id="depart"></input>
          	</div>
          </div>
          <div class="col-xs-6" ng-hide="activity == 'football'">
            <div class="input-group form-group">
          		<span class="input-group-addon">
                <p>
                  <i class="icon ion-ios-location"></i>
                </p>
              </span>
              <input type="text" placeholder='arrivée' ng-model="arrivee" class="form-control" id="arrivee"></input>
          	</div>
          </div>

          <div class="col-xs-12" ng-show="activity == 'football'">
            <div class="input-group form-group">
          		<span class="input-group-addon ">
                <p>
                  <i class="icon ion-ios-location"></i>
                </p>
              </span>
              <input type="text" placeholder='ou' ng-model="lieu" class="form-control" id="lieu"></input>
          	</div>
          </div>

          <div class="col-sm-4">
            <div class="form-group">
              <textarea id="description" class="form-control" placeholder="Description" ng-model="description" rows="5"></textarea>
            </div>
          </div>


          <div class="col-xs-6" ng-hide="activity == 'football'">
            <input id="submit" class="button button-block btn btn-raised btn-info geocode" type="button" value="Visualiser" ng-click="setRoute()">
          </div>
          <div class="col-xs-6" ng-hide="activity == 'football'">
            <input class="button button-block btn btn-raised btn-primary" type="button" name="name" value="Envoyer" ng-click="Event(param); modals.hide();submitted=true">
          </div>

          <div class="col-xs-12" ng-show="activity == 'football'">
            <input class="button button-block btn btn-raised btn-primary" type="button" name="name" value="Envoyer" ng-click="Event(param); modals.hide(); submitted=true">
          </div>
      </div>
    </form>

  </ion-content>
</ion-view>
