<ion-view ng-controller="mapCtrl" >
  <ion-nav-buttons side="right" >
    <button  class="button button-icon reloadEvent" ng-click="reloadRoute();"><img src="img/reload.png" alt="" /></button>
  </ion-nav-buttons>
  <ion-content  data-ng-init="showEvent(); map();">
    <div data-tap-disabled="true">
  	   <div id="map"></div>
    </div>
    <div class="padding timeline" on-drag-down="onDragDown()" on-swipe-down="swipeDown()" id="timeline" >

      <div class="col-xs-12">
        <div class="slideUp">
          <img src="img/up-arrow.png" alt="" ng-click="swipeUp()"/>
        </div>
      </div>

      <div  ng-repeat="event in events | orderBy: '-date' | limitTo: 35">
        <div class="card cards">
          <div class="item item-divider">
            <a href="/#/event/{{event.id}}" class="img-info" ng-click="loadEvent({{event.id}});">
            <strong>{{event.title}} </strong>
            <p class="date-event"><strong>Le </strong> {{event.date | date: 'dd' }} {{event.date | date:  'MMMM' }}  {{ event.date | date: 'yyyy' }} </p>
            </a>
          </div>
          <div class="item item-text-wrap">
            <p><strong>Lieu : </strong></strong>{{event.lieu}}</p>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
    <div class="slideUp plus" >
      <div class="plus-event">
        <a ui-sref="event"><img src="img/plus-symbol.png" alt="" class="img-responsive"/></a>
      </div>
    </div>
</ion-view>
