<ion-view view-title='login'>
  <ion-content ng-controller="loginController" class="padding">



      <div class="col-sm-4">
        <div class="form-group">
            <input type="text" value="" placeholder="Email" class="form-control" id="email" />
        </div>
      </div>
      <div class="col-sm-4">
        <div class="form-group">
            <input type="password" placeholder="Mot de passe" class="form-control" id="password"/>
        </div>
      </div>

      

      <button type="button" ng-click="login();" class="btn btn-lg btn-primary btn-block">Login</button>

  </ion-content>
</ion-view>
