<ion-view view-title='login'>
  <ion-content ng-controller="loginController" class="padding">

  	<div class="example-chat l-demo-container">

      <div class="example-chat-toolbar">
        <label for="nameInput">Email:</label>
        <input ng-model="mail" type="text" id="mailInput" placeholder="Email">
      </div>

      <div class="example-chat-toolbar">
        <label for="nameInput">Password:</label>
        <input ng-model="password" type="password" id="passwordInput" placeholder="Mot de passe">
      </div>

      <button type="button" ng-click="login();" class="btn btn-lg btn-primary btn-block">Login</button>
    </div>

  </ion-content>	
</ion-view>	