<ion-view>
  <ion-content  ng-controller="profilController" ng-init="loadProfilCu();">

    <div class="container-fluid nopadding">
        <div class="col-md-12 nopadding back-profil">
            <img src="../img/back-profil.jpg" alt="profil-pic" class="img-couv">
            <div class="vcenter">
                <img src="../img/default-user.png" alt="avatar" class="avatar  img-responsive center-block">
                <p class="profiltitle">{{pageProfil[0].prenom}} {{pageProfil[0].nom}}</p>
            </div>
        </div>
    </div>
      <div class="container-fluid">
          <div class="row">
              <section class="tab" ng-controller="TabController as tab">
                  <ul class="nav nav-pills">
                      <li ng-class="{ active: tab.isSet(1) }">
                          <a href ng-click="tab.setTab(1)">Profile</a></li>
                      <li ng-class="{ active: tab.isSet(2) }">
                          <a href ng-click="tab.setTab(2)">Historique</a></li>
                      <li ng-class="{ active: tab.isSet(3) }">
                          <a href ng-click="tab.setTab(3)">Amis</a></li>
                  </ul>
                  <div ng-show="tab.isSet(1)">
                      <blockquote>{{pageProfil[0].prenom}} {{pageProfil[0].nom}}</blockquote>
                  </div>
                  <div ng-show="tab.isSet(2)">
                      <blockquote></blockquote>
                  </div>
                  <div ng-show="tab.isSet(3)">
                      <h4>Reviews</h4>
                  </div>
              </section>

          </div>
      </div>

  </ion-content>	
</ion-view>	