<ion-view view-title='profil'>
  <ion-content  ng-controller="profilController" ng-init="loadProfilCu();">

    <div class="container-fluid">
        <div class="col-md-12 header-profil">
          <div class="col-md-12">
            <img src="../img/img-profil.jpg" alt="profil-pic" class="img-profil-1">
          </div>

        </div>

        <div class="img-profil" >
          <img src="../img/avatar.jpg" alt="avatar" class="avatar">
        </div>
    </div>
      <p>{{pageProfil[0].id}}</p>

  </ion-content>	
</ion-view>	