<ion-view view-title='Inscription'>
  <ion-content ng-controller="singinController" class="padding">

  	<div class="example-chat l-demo-container">

      <div class="example-chat-toolbar">
        <label for="nameInput">Prénom:</label>
        <input ng-model="firstname" type="text" id="firstnameInput" placeholder="Prénom">
      </div>

      <div class="example-chat-toolbar">
        <label for="nameInput">Nom:</label>
        <input ng-model="name" type="text" id="nameInput" placeholder="Nom">
      </div>

      <div class="example-chat-toolbar">
        <label for="nameInput">Email:</label>
        <input ng-model="mail" type="text" id="mailInput" placeholder="Nom">
      </div>

      <div class="example-chat-toolbar">
        <label for="nameInput">Password:</label>
        <input ng-model="password" type="password" id="passwordInput" placeholder="Nom">
      </div>

      <button type="button" ng-click="signUp();" class="btn btn-lg btn-primary btn-block">Register</button>
    </div>

  </ion-content>	
</ion-view>	