<ion-view>
    <ion-content  ng-controller="profilController" ng-init="loadProfilCu();">

        <div class="container-fluid nopadding">
            <h2 class="text-center mg-top20">Modifier Mot de passe</h2>
            <div class="col-sm-4">
                <div class="form-group">
                    <h3>Mot de passe actuel :</h3>
                    <input type="password" placeholder="Mot de passe" class="form-control" id="password"/>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <h3>Confirmation:</h3>
                    <input type="password" placeholder="Mot de passe" class="form-control" id="password-confirmation"/>
                </div>
            </div>
            <button type="submit" ng-click="" class="btn btn-raised btn-primary btn-round btn-block">Modifier</button>
        </div>

    </ion-content>
</ion-view>