<ion-view>
    <ion-content  ng-controller="profilController" ng-init="loadProfil();">

        <div class="container-fluid nopadding">
            <div class="col-md-12 nopadding back-profil">
                <img src="../img/back-profil.jpg" alt="profil-pic" class="img-couv">
                <div class="vcenter">
                    <img src="../img/default-user.png" alt="avatar" class="avatar  img-responsive center-block">
                    <p class="profiltitle"></p>
                </div>
            </div>
        </div>

    </ion-content>
</ion-view>