.header-profil{
	height: 20vh;
	/*border:1px  solid red;*/
	overflow: hidden;
	background: black;
	
}
.img-profil-1{
	width: 100%;
	margin-top: -100px;
	z-index: -99;
	opacity: .5;
}
.img-profil{
	height: 80px;
	width: 80px;
	margin-right: auto;
	margin-left: auto;
	margin-top: -113px;
	border-radius: 50%;
	/*border:1px  solid fff;*/
	background: black;
	position: relative;
}
.avatar{
	height: 100px;
	width: 100px;
	border-radius: 50%;
	border:2px  solid rgba(255, 255, 255, 0.4);
	padding: relative;
	z-index: 99;
	opacity: 1;
}
.profiltitle{
	text-transform: uppercase;
	font-size: 1.5em;
	color: white;
	margin-top: 20px;
}
.back-profil{
	height:40vh;
	max-height: 40vh;
	background-size: cover;
}
.img-couv{
	max-height: inherit;
	width: 100%;
	filter: brightness(50%);
	-webkit-filter: brightness(50%);
	-moz-filter: brightness(50%);
	-o-filter: brightness(50%);

}
.profil-opt{
	z-index: 999;
	position: absolute;
	color: white;
	right: 10px;
	top: 10px;
}