.header-profil{
	height: 20vh;
	/*border:1px  solid red;*/
	overflow: hidden;
	background: black;
	
}
.img-profil-1{
	width: 100%;
	margin-top: -100px;
	z-index: -99;
	opacity: .5;
}
.img-profil{
	height: 80px;
	width: 80px;
	margin-right: auto;
	margin-left: auto;
	margin-top: -113px;
	border-radius: 50%;
	/*border:1px  solid fff;*/
	background: black;
	position: relative;
}
.avatar{
	height: 80px;
	width: 80px;
	border-radius: 50%;
	border:1px  solid white;
	padding: relative;
	z-index: 99;
	opacity: 1;
}

